{#
/**
 * @file addy_origin.html.twig
 * Default theme implementation to present Origin data.
 *
 * This template is used when viewing Origin pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_addy_origin()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('addy_origin') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
